spring:
  task:
    scheduling:
      pool:
        size: 10

  jpa:
    properties:
      hibernate:
        format_sql: 'TRUE'
    hibernate:
      ddl-auto: update
    open-in-view: 'false'

  sql:
    init:
      mode: never

  mvc:
    hiddenmethod:
      filter:
        enabled: 'true'

  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      max-lifetime: 240000
      idle-timeout: 60000
      keepalive-time: 30000

logging:
  level:
    org:
      hibernate:
        SQL: WARN
        type.descriptor: WARN #
      nodeValue: WARN
    root: INFO
    blog: WARN
    runtime: INFO
    instance class: INFO

tmdb:
  api:
    url: "https://api.themoviedb.org/3"
    key: ${TMDB_API_KEY}

server:
  port: ${PORT:8080}
