spring:
  session:
    store-type: redis
    timeout: 7d
    redis:
      repository-type: indexed

  data:
    redis:
      url: ${REDIS_URL}

  task:
    scheduling:
      pool:
        size: 10

  jpa:
    properties:
      hibernate:
        format_sql: 'TRUE'
    hibernate:
      ddl-auto: update
    open-in-view: 'false'

  sql:
    init:
      mode: never

  mvc:
    hiddenmethod:
      filter:
        enabled: 'true'

  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      max-lifetime: 240000
      idle-timeout: 60000
      keepalive-time: 30000

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

moviefy:
  frontend:
    url: ${MOVIEFY_FRONTEND_URL}
  admin:
    emails: ${MOVIEFY_ADMIN_EMAILS:}
  logo:
    url: ${MOVIEFY_LOGO_URL}
  rate-limit:
    general:
      auth-user: ${MOVIEFY_RATE_LIMIT_GENERAL_AUTH_USER:300}
      anon-ip: ${MOVIEFY_RATE_LIMIT_GENERAL_ANON_IP:60}
    auth:
      login:
        per-ip: ${MOVIEFY_RATE_LIMIT_AUTH_LOGIN_PER_IP:10}
        per-email: ${MOVIEFY_RATE_LIMIT_AUTH_LOGIN_PER_EMAIL:10}
      register:
        per-ip: ${MOVIEFY_RATE_LIMIT_AUTH_REGISTER_PER_IP:5}
        per-email: ${MOVIEFY_RATE_LIMIT_AUTH_REGISTER_PER_EMAIL:3}
      password-reset:
        per-ip: ${MOVIEFY_RATE_LIMIT_AUTH_PASSWORD_RESET_PER_IP:5}
        per-email: ${MOVIEFY_RATE_LIMIT_AUTH_PASSWORD_RESET_PER_EMAIL:3}

mail:
  from: ${MAIL_FROM}

logging:
  level:
    org:
      hibernate:
        SQL: WARN
        type.descriptor: WARN #
      nodeValue: WARN
    root: INFO
    blog: WARN
    runtime: INFO
    instance class: INFO

server:
  port: ${PORT:8080}
  forward-headers-strategy: framework

tmdb:
  api:
    url: "https://api.themoviedb.org/3"
    key: ${TMDB_API_KEY}